{:deps {org.clojure/clojure {:mvn/version "1.12.3"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "cognitect-dev-tools" {:url "https://dev-tools.cognitect.com/maven/releases/"}}

 :aliases {:cider-clj
           {:extra-deps {nrepl/nrepl                   {:mvn/version "1.4.0"}
                         cider/cider-nrepl             {:mvn/version "0.57.0"}
                         refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"]}

           :cider-cljs
           {:extra-deps {cider/cider-nrepl             {:mvn/version "0.57.0"}
                         cider/piggieback              {:mvn/version "0.6.1"}
                         refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

           :repl/morse
           {:extra-deps {io.github.nubank/morse {:git/tag "v2023.10.06.02" :git/sha "88b5ff7"}}}

           :portal
           {:extra-deps {djblue/portal {:mvn/version "0.61.0"}}}

           :notebook/clerk
           {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.18.1150"}}}

           :antq/outdated
           {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts ["-m" "antq.core"]}}}
